xsd/sdp-kvittering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" targetNamespace="http://begrep.difi.no/sdp/schema_v10"
	xmlns="http://begrep.difi.no/sdp/schema_v10"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xsd:include schemaLocation="sdp-melding.xsd"/>


	<xsd:element name="kvittering" type="Kvittering"/>


	<xsd:complexType name="Kvittering">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="levertTilPostkasse" type="LevertTilPostkasse"/>
				<xsd:element name="aapnetAvMottaker" type="AapnetAvMottaker"/>
				<xsd:element name="avvistAvMottaker" type="AvvistAvMottaker"/>
				<xsd:element name="mottakerVarselFeilet" type="MottakerVarselFeilet"/>
				<xsd:element name="feil" type="Feil"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="LevertTilPostkasse">
		<!--  TODO: her kan vi vurdere å inkludere tid_levert, e.l. -->
	</xsd:complexType>


	<xsd:complexType name="Feil">
		<xsd:sequence>
			<xsd:element name="feilType" type="Feiltype" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="feilinformasjon" type="Feilinformasjon" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="AapnetAvMottaker">
		<!--  TODO: her kan vi vurdere å inkludere tid_åpnet, e.l. -->
	</xsd:complexType>


	<xsd:complexType name="AvvistAvMottaker">
		<!--  TODO: trenger vi denne for å signalisere at mottaker har valgt å "avvise" et brev med åpningskvittering? -->
	</xsd:complexType>


	<!--
	<xsd:complexType name="MottakerVarselSendt">
		<xsd:element name="type" type="Varseltype" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="tidspunkt" type="xsd:dateTime" minOccurs="1" maxOccurs="1"∕>
	</xsd:complexType>
	-->


	<xsd:complexType name="MottakerVarselFeilet">
		<xsd:sequence>
			<xsd:element name="type" type="Varseltype" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tidspunkt" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="feilinformasjon" type="Feilinformasjon" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="Varseltype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SMS" />
			<xsd:enumeration value="EPOST" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="Feiltype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INPUT" />
			<xsd:enumeration value="SERVER" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="Feilinformasjon">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>