xsd/sdp-manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" targetNamespace="http://begrep.difi.no/sdp/schema_v10"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://begrep.difi.no"
	xmlns:sdp="http://begrep.difi.no/sdp/schema_v10" 
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
	xmlns:enc="http://www.w3.org/2001/04/xmlenc#"
	elementFormDefault="qualified">

	<xsd:include schemaLocation="sdp-melding.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xsd:import namespace="http://www.w3.org/2001/04/xmlenc#" schemaLocation="xenc-schema.xsd"/> 
	<xsd:import namespace="http://begrep.difi.no/Oppslagstjenesten/xsd/" schemaLocation="oppslagstjeneste-metadata-14-05.xsd"/>
	

	<xsd:element name="manifest" type="sdp:Manifest"/>


	<xsd:complexType name="Manifest">
		<xsd:sequence>
			<xsd:element name="meldingsId" type="sdp:GUID" minOccurs="0" maxOccurs="1"/>
			<!-- TODO:kanskje vi burde ha med sikkerhetsnivaa her? -->
			<xsd:element name="mottaker" type="sdp:Mottaker" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="avsender" type="sdp:Avsender" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hoveddokument" type="sdp:Dokument" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="vedlegg" type="sdp:Dokument" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>


	<xsd:complexType name="Dokument">
		<xsd:sequence>
			<xsd:element name="tittel" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="href" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="4" />
					<xsd:maxLength value="100" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="mime" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="application/pdf"/>
					<xsd:enumeration value="text/html"/>
					<xsd:enumeration value="text/plain"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>	

</xsd:schema>