xsd/sdp-melding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" targetNamespace="http://begrep.difi.no/sdp/schema_v10"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://begrep.difi.no"
	xmlns:sdp="http://begrep.difi.no/sdp/schema_v10" 
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
	xmlns:enc="http://www.w3.org/2001/04/xmlenc#"
	elementFormDefault="qualified">

	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xsd:import namespace="http://www.w3.org/2001/04/xmlenc#" schemaLocation="xenc-schema.xsd"/> 
	<xsd:import namespace="http://begrep.difi.no/Oppslagstjenesten/xsd" schemaLocation="oppslagstjeneste-metadata-14-05.xsd"/>
	

	<xsd:element name="melding" type="sdp:Melding"/>


	<xsd:complexType name="Melding">
	
		<xsd:sequence>
			<xsd:element name="mottaker" type="sdp:Mottaker"/>
			<xsd:element name="avsender" type="sdp:Avsender"/>
			<xsd:element name="virkningsdato" type="xsd:date"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="aapningskvittering" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" default="false">
			</xsd:element>
			<xsd:element name="sikkerhetsnivaa" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="3" />
						<xsd:enumeration value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ikkeSensitivHoveddokumenttittel" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="varsler" type="sdp:Varsler" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dokumentPakke" type="sdp:DokumentPakke"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Mottaker">
		<xsd:choice>
			<xsd:element name="person" type="tns:Person"/>
			<xsd:element name="virksomhet" type="sdp:Virksomhet"/>
		</xsd:choice>
	</xsd:complexType>


	<xsd:complexType name="Postadresse">
		<!--  TODO: Digipost lager forslag til printadresse for fysisk post -->
	</xsd:complexType>


	<xsd:complexType name="Avsender">
		<xsd:sequence>
			<xsd:element name="avsenderId" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fakturaKonto" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Repetisjoner">
		<xsd:sequence>
			<xsd:element name="dagerEtter" minOccurs="1" maxOccurs="10">
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:maxInclusive value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="EpostVarsel">
		<xsd:sequence>
			<xsd:element name="varselTekst">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="500" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="repetisjoner" type="sdp:Repetisjoner"
				minOccurs="1" maxOccurs="1" >
				<xsd:unique name="UnikeEpostVarselRepetisjoner">
					<xsd:selector xpath="sdp:dagerEtter" />
					<xsd:field xpath="." />
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="SmsVarsel">
		<xsd:sequence>
			<xsd:element name="varselTekst">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="160" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="repetisjoner" type="sdp:Repetisjoner"
				minOccurs="1" maxOccurs="1" >
				<xsd:unique name="UnikeSmsVarselRepetisjoner">
					<xsd:selector xpath="sdp:dagerEtter" />
					<xsd:field xpath="." />
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Varsler">
		<xsd:sequence>
			<xsd:element name="epostVarsel" type="sdp:EpostVarsel"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="smsVarsel" type="sdp:SmsVarsel"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Virksomhet">
		<xsd:sequence>
			<xsd:element name="sikkerDigitalPostAdresse" type="tns:SikkerDigitalPostAdresse"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="DokumentPakke">
		<xsd:sequence>
			<xsd:element name="encryptedKey" type="enc:EncryptedKeyType"/>
		</xsd:sequence>
	</xsd:complexType>


</xsd:schema>