xsd/sdp-melding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://begrep.difi.no/sdp/schema_v10"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:difi="http://begrep.difi.no"
	xmlns:enc="http://www.w3.org/2001/04/xmlenc#"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	targetNamespace="http://begrep.difi.no/sdp/schema_v10" elementFormDefault="qualified" version="1.0">
	<xsd:import namespace="http://www.w3.org/2001/04/xmlenc#" schemaLocation="w3/xenc-schema.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="w3/xmldsig-core-schema.xsd"/>

	<xsd:import namespace="http://begrep.difi.no" schemaLocation="oppslag/oppslagstjeneste-metadata-14-05.xsd"/>
	<xsd:element name="melding" type="Melding"/>
	<xsd:complexType name="Melding">
		<xsd:annotation>
			<xsd:documentation>

			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sdpMeldingId" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unik meldings-ID for behandlingsansvarlig.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="avsender" type="Avsender" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						  Den reelle avsenderen av dokument(ene)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="fysiskPostInfo" type="FysiskPostInfo" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="digitalPostInfo" type="DigitalPostInfo" minOccurs="1" maxOccurs="1"/>
			</xsd:choice>
			<xsd:element name="dokumentpakke" type="Dokumentpakke" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Avsender">
		<xsd:sequence>
			<xsd:element name="organisasjon" type="Organisasjon" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="avsenderidentifikator" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fakturaReferanse" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Repetisjoner">
		<xsd:sequence>
			<xsd:element name="dagerEtter" minOccurs="1" maxOccurs="10">
				<xsd:annotation>
					<xsd:documentation>
						Når varselet skal sendes, relativ til virkningsdato.
						Verdien 0 betyr at varsel skal sendes samme dag som brevet
						tilgjengeliggjøres i mottakers digitale postkasse.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:maxInclusive value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Virksomhet">
		<xsd:sequence>
			<xsd:element name="sikkerDigitalPostAdresse" type="difi:SikkerDigitalPostAdresse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Dokumentpakke">
		<xsd:sequence>
			<xsd:element name="digest" type="ds:ReferenceType" />
			<xsd:element name="encryptedKey" type="enc:EncryptedKeyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organisasjon">
		<xsd:simpleContent>
			<xsd:extension base="Iso6523Identitet">
				<xsd:attribute name="authority" type="Iso6523Authority" use="optional" default="iso6523-actorid-upis"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Iso6523Identitet">
		<xsd:annotation>
			<xsd:documentation>
				Internasjonal standard for identifisering av organisasjoner. Formatet er
				4 siffer, et kolon, og opptil 35 tegn. De første 4 sifferne angir ICD, som er
				autoriteten som har gitt identiteten til organisasjonen. De opptil 35 tegnene er
				selve organisasjons-IDen. I Norge vil dette i praksis se slik ut:
				9908:123456789, hvor 9908 angir	Brønnøysundregisteret, og de 9 sifrene etter
				kolon er et org-nr.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}:\w{1,35}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Iso6523Authority">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="iso6523-actorid-upis"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DigitalPostInfo">
		<xsd:sequence>
			<xsd:element name="virkningsdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="aapningskvittering" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sikkerhetsnivaa" type="Sikkerhetsnivaa" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tittel" minOccurs="0" maxOccurs="1" type="Tittel">
				<xsd:annotation>
					<xsd:documentation>
						Ikke-sensitiv tittel på dokumentpakken
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="varsler" type="Varsler" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Sikkerhetsnivaa">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Mottaker">
		<xsd:choice>
			<xsd:element name="person" type="difi:Person"/>
			<xsd:element name="virksomhet" type="Virksomhet"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Varsler">
		<xsd:sequence>
			<xsd:element name="epostVarsel" type="EpostVarsel" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="smsVarsel" type="SmsVarsel" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EpostVarsel">
		<xsd:sequence>
			<xsd:element name="tekst" minOccurs="0" maxOccurs="1" type="EpostVarselTekst"/>
			<xsd:element name="repetisjoner" type="Repetisjoner" minOccurs="1" maxOccurs="1">
				<xsd:unique name="UnikeEpostVarselRepetisjoner">
					<xsd:selector xpath="dagerEtter"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SmsVarsel">
		<xsd:sequence>
			<xsd:element name="tekst" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="160"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="repetisjoner" type="Repetisjoner" minOccurs="1" maxOccurs="1">
				<xsd:unique name="UnikeSmsVarselRepetisjoner">
					<xsd:selector xpath="dagerEtter"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="Tittel">
		<xsd:simpleContent>
			<xsd:extension base="TittelString">
				<xsd:attribute name="lang" type="Spraakkode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TittelString">		
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="EpostVarselTekst">
		<xsd:simpleContent>
			<xsd:extension base="EpostVarselTekstString">
				<xsd:attribute name="lang" type="Spraakkode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="EpostVarselTekstString">		
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="Spraakkode">
		<xsd:annotation>
			<xsd:documentation>
				Språkkode ihht ISO-639
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"></xsd:minLength>
			<xsd:maxLength value="5"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- typer nedenfor er for fysisk post -->

	<xsd:complexType name="FysiskPostInfo">
		<xsd:sequence>
			<xsd:element name="mottaker" type="Navn" minOccurs="1" maxOccurs="1"/>
			<xsd:choice>
				<xsd:element name="norskMottakeradresse" type="NorskPostadresse" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="utenlandskMottakeradresse" type="UtenlandskPostadresse" minOccurs="1" maxOccurs="1"/>
			</xsd:choice>
			<xsd:element name="posttype" default="A" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="B"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="returPostmottaker" type="Navn" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="returadresse" type="NorskPostadresse" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NorskPostadresse">
		<xsd:sequence>
			<xsd:element name="adresselinje1" type="Adresselinje" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="adresselinje2" type="Adresselinje" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="postnummer" type="NorskPostnummer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="poststed" type="Poststed" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UtenlandskPostadresse">
		<xsd:sequence>
			<xsd:element name="adresselinje1" type="Adresselinje" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="adresselinje2" type="Adresselinje" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="adresselinje3" type="Adresselinje" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="adresselinje4" type="Adresselinje" minOccurs="0" maxOccurs="1"/>
			<xsd:choice>
				<xsd:element name="land" type="Land" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="landkode" type="Landkode" minOccurs="1" maxOccurs="1"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Navn">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="130"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NorskPostnummer">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Adresselinje">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Poststed">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Land">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Landkode">
		<xsd:annotation>
			<xsd:documentation>
				To-bokstavs landkode ihht ISO 3166-1 alpha-2 standarden.
				(http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
