xsd/sdp-kvittering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" targetNamespace="http://begrep.difi.no/sdp/schema_v10"
	xmlns="http://begrep.difi.no/sdp/schema_v10"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xsd:include schemaLocation="sdp-melding.xsd"/>


	<xsd:element name="kvittering" type="Kvittering"/>


	<xsd:complexType name="Kvittering">
		<xsd:sequence>
			<xsd:element name="tidspunkt" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:choice>
				<xsd:element name="levertTilPostkasse" type="LevertTilPostkasse"/>
				<xsd:element name="aapnetAvMottaker" type="AapnetAvMottaker"/>
				<xsd:element name="mottakerVarselFeilet" type="MottakerVarselFeilet"/>
				<xsd:element name="duplikatMelding" type="DuplikatMelding"/>
				<xsd:element name="feil" type="Feil"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="LevertTilPostkasse">
	</xsd:complexType>



	<xsd:complexType name="AapnetAvMottaker">
	</xsd:complexType>


	<xsd:complexType name="DuplikatMelding">
		<!-- TODO: bør denne inneholde originalkvitteringen? -->
		<xsd:sequence>
			<xsd:element name="originalKvittering" type="Kvittering"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="MottakerVarselFeilet">
		<xsd:sequence>
			<xsd:element name="type" type="Varseltype" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="feilinformasjon" type="Feilinformasjon" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="Varseltype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SMS" />
			<xsd:enumeration value="EPOST" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="Feil">
		<xsd:sequence>
			<xsd:element name="kilde" type="Feilkilde" minOccurs="1" maxOccurs="1" />
			<xsd:element name="informasjon" type="Feilinformasjon" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="Feilkilde">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INPUT" />
			<xsd:enumeration value="SERVER" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="Feilinformasjon">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>